 <!-- Qualification Start -->
 <div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px; font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">{{Graduation}}</h5>
                        <p class="mb-2"><strong>{{college}}</strong> | <small>{{duration}}</small></p>
                        <p>As an aeronautical engineer with a solid foundation in technical principles and problem-solving, I have honed my skills through hands-on experience in the aeronautical industry.</p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">{{Secondary}}</h5>
                        <p class="mb-2"><strong>{{school}}</strong> | <small>{{year}}</small></p>
                        <p>Secondary education was on Bio-Science Including Mathematics </p>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Expericence</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">{{Tjob}}</h5>
                        <p class="mb-2"><strong>{{Tname}}</strong> | <small>{{Tyear}}</small></p>
                        <p>Developed and maintained full-stack web applications using[front-end framework] and [back-end framework].
                            </p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">{{sjob}}</h5>
                        <p class="mb-2"><strong>{{sname}}</strong> | <small>{{syear}}</small></p>
                        <p>Rovonize Systems Pvt Ltd Is a Company which does Agricultural 
                            as well as Surveillance Drone (UAV) works all over India. There I managed service projects for Aeronautical sector clients, overseeing all phases from project initiation to completion. Followed up with clients to verify optimal customer satisfaction following support engagement and problem resolution.
                            </p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">{{fjob}}</h5>
                        <p class="mb-2"><strong>{{fname}}</strong> | <small>{{fyear}}</small></p>
                        <p>PROTECH MEDIQ is the company which does Sales and Services of Pulmonology I.C.U Equipment’s all over Kerala.I managed the entire sales cycle across customer accounts, proposing and closing sales to achieve total revenue growth, profit and customer satisfaction plans.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Qualification End -->



